In [1]:
import datalabframework as dlf

In [2]:
engine = dlf.engines.get('spark')
spark = engine.context()

In [3]:
#print out name and version
'{}:{}'.format(engine.info['context'], spark.sparkSession.version)

'spark:2.3.1'

In [4]:
df={}
for t in ['train', 'test']:
    df[t] = engine.read('.etl.extract.{}'.format(t))

In [5]:
from pyspark.sql.functions import isnan, when, count, col

for t in ['train', 'test']:
    df[t].select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df[t].columns]).show()

+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|PassengerId|Survived|Pclass|Name|Sex|Age|SibSp|Parch|Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|          0|       0|     0|   0|  0|177|    0|    0|     0|   0|  687|       2|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+

+-----------+------+----+---+---+-----+-----+------+----+-----+--------+
|PassengerId|Pclass|Name|Sex|Age|SibSp|Parch|Ticket|Fare|Cabin|Embarked|
+-----------+------+----+---+---+-----+-----+------+----+-----+--------+
|          0|     0|   0|  0| 86|    0|    0|     0|   1|  327|       0|
+-----------+------+----+---+---+-----+-----+------+----+-----+--------+

In [6]:
# dropped columns
dropped_columns = ['Ticket', 'Cabin']

for t in ['train', 'test']:
    df[t] = df[t].drop(*dropped_columns)

In [7]:
df['train'].groupBy('Embarked').count().toPandas()

  Embarked  count
0        Q     77
1     None      2
2        C    168
3        S    644

In [8]:
#simple fill for Fare, Price, Embarked
def fill_with_mode(df, colname):
    # which value is occuring most often?
    d = df.groupBy(colname).count().toPandas()
    fill_value = d.loc[d['count'].idxmax,colname]
    print('Filling column {} with value: {}'.format(colname, fill_value))

    #fill the na
    df = df.fillna(fill_value, colname)
    return df


from pyspark.sql.functions import avg
def fill_with_mean(df, colname):
    # which is the average / mean value?
    d = df.select(avg(colname)).collect()
    fill_value = d[0][0]
    print('Filling column {} with value: {}'.format(colname, fill_value))
    
    #fill the na
    df = df.fillna(fill_value, colname)
    return df

In [9]:
for t in ['train', 'test']:
    print('-- {} -----'.format(t))
    df[t] = fill_with_mode(df[t], 'Embarked')    
    df[t] = fill_with_mean(df[t], 'Fare')

-- train -----
Filling column Embarked with value: S
Filling column Fare with value: 32.2042079685746
-- test -----
Filling column Embarked with value: S
Filling column Fare with value: 35.6271884892086

In [10]:
fill_with_mean(df['train'], 'Age')

Filling column Age with value: 29.69911764705882

DataFrame[PassengerId: int, Survived: int, Pclass: int, Name: string, Sex: string, Age: double, SibSp: int, Parch: int, Fare: double, Embarked: string]

In [11]:
from pyspark.sql.functions import isnan, when, count, col

for t in ['train', 'test']:
    df[t].select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df[t].columns]).show()

+-----------+--------+------+----+---+---+-----+-----+----+--------+
|PassengerId|Survived|Pclass|Name|Sex|Age|SibSp|Parch|Fare|Embarked|
+-----------+--------+------+----+---+---+-----+-----+----+--------+
|          0|       0|     0|   0|  0|177|    0|    0|   0|       0|
+-----------+--------+------+----+---+---+-----+-----+----+--------+

+-----------+------+----+---+---+-----+-----+----+--------+
|PassengerId|Pclass|Name|Sex|Age|SibSp|Parch|Fare|Embarked|
+-----------+------+----+---+---+-----+-----+----+--------+
|          0|     0|   0|  0| 86|    0|    0|   0|       0|
+-----------+------+----+---+---+-----+-----+----+--------+

In [12]:
# #EXPORT 
# from pyspark.ml import Pipeline
# from pyspark.ml.feature import OneHotEncoder, VectorAssembler, StringIndexer
# from pyspark.sql.functions import col

# def string_indexer(features):
#     for c in features:
#         yield StringIndexer(inputCol=c, outputCol=c+'_I')

# def onehot(features):
#     #todo: reproducable mapping, 
#     #      here the mapping depends on the data provided
#     for c in features:
#         yield OneHotEncoder(inputCol=c, outputCol=c+'_C')

# def vectorize(stringCols, numericDiscreteCols, numericContinuosCols):
#     #todo: automatically classify columns
#     reg_all_discrete_cols = numericDiscreteCols + [c+'_I' for c in stringCols]
#     reg_all_cols = numericContinuosCols + [c+'_C' for c in reg_all_discrete_cols]

#     print(reg_all_cols)

#     si = list(string_indexer(stringCols))
#     oh = list(onehot(reg_all_discrete_cols))
#     ar = [VectorAssembler(inputCols=reg_all_cols, outputCol="features")]
    
#     stages=si+oh+ar
#     return stages

# def featurize(df, idCol, labelCol, numericContinuosCols, numericDiscreteCols, stringCols):

#     #set the pipeline
#     stages = vectorize(stringCols, numericDiscreteCols, numericContinuosCols)
#     pipeline = Pipeline(stages=stages)

#     #fit
#     model = pipeline.fit(df)

#     #transform
#     features_df = model.transform(df).select(col(idCol).alias('id'), col(labelCol).alias('label'),'features')
    
#     return features_df

In [13]:
import sys
import datalabframework as dlf

dlf.project.rootpath()
from etl.features.features import featurize

importing Jupyter notebook from /home/natbusa/Projects/dsp-titanic/src/etl/features/features.ipynb

In [16]:
from pyspark.ml.feature import RFormula
from pyspark.ml.regression import LinearRegression
from pyspark.sql.functions import coalesce

from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

def contains_na(df, columns):
    d = df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in columns])
    return sum(d.collect()[0])>0

def learn_imputation(df):
    # featurize
    
    # create lr estimator
    lr = LinearRegression(maxIter=10, regParam=0.3, elasticNetParam=0.8)

    # Fit the model, where label is not null
    model = lr.fit(df.where(df.label.isNotNull()))
    
    # Summarize the model over the training set and print out some metrics
    trainingSummary = model.summary
    
    print("Learning Linear Regression Model:")
    print(" - RMSE: %f" % trainingSummary.rootMeanSquaredError)
    print(" - r2: %f" % trainingSummary.r2)
    
    return model

def impute(df, df_features, model, idCol, labelCol):
    # impute dependent variable
    df_impute = model.transform(df_features)
    
    # join prediction with original dataframe
    df = df.join(df_impute.select(col('id').alias(idCol),'prediction'), idCol, "leftouter") 

    # coalesce null using imputation
    df =  df.withColumn(labelCol,coalesce(df[labelCol],df.prediction)).drop('prediction')

    return df

In [17]:
# Learn from both trainn and test
cols = set(df['train'].columns) & set(df['test'].columns)
df_union = df['train'].select(*cols).union(df['test'].select(*cols))

#select regressors and featurize
pipeline = featurize(['Fare'], ['Pclass','SibSp','Parch'], ['Sex', 'Embarked'])
model = pipeline.fit(df_union)

# learn linear regression model
d = model.transform(df_union).select(col('PassengerId').alias('id'), col('Age').alias('label'), 'features')
impute_model = learn_imputation(d)

for t in ['train', 'test']:
    print('-- {} -----'.format(t))
    df[t] = impute(df[t], d, impute_model, 'PassengerId', 'Age')
    df[t].show()

Learning Linear Regression Model:
 - RMSE: 10.769170
 - r2: 0.334880
-- train -----
+-----------+--------+------+--------------------+------+------------------+-----+-----+-------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|               Age|SibSp|Parch|   Fare|Embarked|
+-----------+--------+------+--------------------+------+------------------+-----+-----+-------+--------+
|        148|       0|     3|"Ford, Miss. Robi...|female|               9.0|    2|    2| 34.375|       S|
|        463|       0|     1|   Gee, Mr. Arthur H|  male|              47.0|    0|    0|   38.5|       S|
|        471|       0|     3|   Keefe, Mr. Arthur|  male|27.844465003907715|    0|    0|   7.25|       S|
|        496|       0|     3|Yousseff, Mr. Ger...|  male|26.552053955241124|    0|    0|14.4583|       C|
|        833|       0|     3|      Saad, Mr. Amin|  male|26.552053955241124|    0|    0| 7.2292|       C|
|        243|       0|     2|Coleridge, Mr. Re...|  male|              29.0|    0|    0|   10.5|       S|
|        392|       1|     3|Jansson, Mr. Carl...|  male|              21.0|    0|    0| 7.7958|       S|
|        540|       1|     1|Frolicher, Miss. ...|female|              22.0|    0|    2|   49.5|       C|
|        623|       1|     3|    Nakid, Mr. Sahid|  male|              20.0|    1|    1|15.7417|       C|
|        737|       0|     3|Ford, Mrs. Edward...|female|              48.0|    1|    3| 34.375|       S|
|        858|       1|     1|Daly, Mr. Peter D...|  male|              51.0|    0|    0|  26.55|       S|
|         31|       0|     1|Uruchurtu, Don. M...|  male|              40.0|    0|    0|27.7208|       C|
|        516|       0|     1|Walker, Mr. Willi...|  male|              47.0|    0|    0|34.0208|       S|
|         85|       1|     2| Ilett, Miss. Bertha|female|              17.0|    0|    0|   10.5|       S|
|        137|       1|     1|Newsom, Miss. Hel...|female|              19.0|    0|    2|26.2833|       S|
|        251|       0|     3|Reed, Mr. James G...|  male|27.844465003907715|    0|    0|   7.25|       S|
|        451|       0|     2|West, Mr. Edwy Ar...|  male|              36.0|    1|    2|  27.75|       S|
|        580|       1|     3| Jussila, Mr. Eiriik|  male|              32.0|    0|    0|  7.925|       S|
|        808|       0|     3|Pettersson, Miss....|female|              18.0|    0|    0|  7.775|       S|
|         65|       0|     1|Stewart, Mr. Albe...|  male|40.921522294320056|    0|    0|27.7208|       C|
+-----------+--------+------+--------------------+------+------------------+-----+-----+-------+--------+
only showing top 20 rows

-- test -----
+-----------+------+--------------------+------+------------------+-----+-----+-------+--------+
|PassengerId|Pclass|                Name|   Sex|               Age|SibSp|Parch|   Fare|Embarked|
+-----------+------+--------------------+------+------------------+-----+-----+-------+--------+
|       1088|     1|Spedden, Master. ...|  male|               6.0|    0|    2|  134.5|       C|
|       1238|     2|Botsford, Mr. Wil...|  male|              26.0|    0|    0|   13.0|       S|
|        897|     3|Svensson, Mr. Joh...|  male|              14.0|    0|    0|  9.225|       S|
|       1025|     3|Thomas, Mr. Charl...|  male|26.086106437810805|    1|    0| 6.4375|       C|
|       1084|     3|van Billiard, Mas...|  male|              11.5|    1|    1|   14.5|       S|
|       1127|     3|Vendel, Mr. Olof ...|  male|              20.0|    0|    0| 7.8542|       S|
|       1139|     2|Drew, Mr. James V...|  male|              42.0|    1|    1|   32.5|       S|
|       1143|     3|Abrahamsson, Mr. ...|  male|              20.0|    0|    0|  7.925|       S|
|       1270|     1|Hipkins, Mr. Will...|  male|              55.0|    0|    0|   50.0|       S|
|       1303|     1|Minahan, Mrs. Wil...|female|              37.0|    1|    0|   90.0|       Q|
|       1265|     2|Harbeck, Mr. Will...|  male|              44.0|    0|    0|   13.0|       S|
|       1223|     1|Dulles, Mr. Willi...|  male|              39.0|    0|    0|   29.7|       C|
|        898|     3|Connolly, Miss. Kate|female|              30.0|    0|    0| 7.6292|       Q|
|        970|     2|Aldworth, Mr. Cha...|  male|              30.0|    0|    0|   13.0|       S|
|       1157|     3|Lyntakoff, Mr. St...|  male|27.844465003907715|    0|    0| 7.8958|       S|
|        918|     1|Ostby, Miss. Hele...|female|              22.0|    0|    1|61.9792|       C|
|       1005|     3|Buckley, Miss. Ka...|female|              18.5|    0|    0| 7.2833|       Q|
|       1016|     3|   Kennedy, Mr. John|  male|27.844465003907715|    0|    0|   7.75|       Q|
|       1133|     2|Christy, Mrs. (Al...|female|              45.0|    0|    2|   30.0|       S|
|        961|     1|Fortune, Mrs. Mar...|female|              60.0|    1|    4|  263.0|       S|
+-----------+------+--------------------+------+------------------+-----+-----+-------+--------+
only showing top 20 rows

### No NA beyond this point

In [18]:
for t in ['train', 'test']:
    assert not contains_na(df[t], df[t].columns)

### Write the output

In [19]:
for t in ['train', 'test']:
    engine.write(df[t], '.etl.clean.{}'.format(t), mode='overwrite')